<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Форма добавления товара</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Введите данные о новом товаре:</h1>
        <form th:action="@{'/products/add'}" method="post">
            <label>Название
                <input type="text" name="title">
            </label>
            <label>Цена
                <input type="number" step="0.01" name="price">
            </label>
            <button class="btn btn-primary" type="submit">Создать</button>
        </form>
    <a class="btn btn-primary" th:href="@{'/'}">Вернуться</a>
</body>
</html>